<!DOCTYPE html>
<html lang="en">
<head>
	<title>Tech-mart</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/user/images/icons/favicon.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/user/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/user/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/user/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/user/fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/user/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/user/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/user/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/user/vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/user/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/user/vendor/slick/slick.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/user/vendor/MagnificPopup/magnific-popup.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/user/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/user/css/util.css">
	<link rel="stylesheet" type="text/css" href="/user/css/main.css">

    <!-- Latest compiled and minified CSS -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- font Awesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!--===============================================================================================-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

  <!--======================================= HOME PAGE END ========================================================-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<body class="animsition">

  
    <header class="header-v2 ">
      <!-- Header desktop -->
    <div class="container-menu-desktop ">
        

        <div style="background-color: #d74850;" class="wrap-menu-desktop">
            <nav class="limiter-menu-desktop container">
                
                <!-- Logo desktop -->		
                <a href="/" class="logo">
                    <img src="/user/images/icons/logo-01.png" alt="IMG-LOGO">
                </a>

                <!-- Menu desktop -->
                <div class="menu-desktop">
                    <ul class="main-menu">
                        <li class="active-menu">
                            <a class="text-decoration-none text-white" href="/">Home</a>
                            
                        </li>

                        <li>
                            <a class="text-decoration-none text-white" href="/product">Shop</a>
                        </li>

                        <li>
                            <a class="text-decoration-none text-white" href="/contact">Contact</a>
                        </li>
                    </ul>
                </div>	

                <!-- Icon header -->
                <div class="wrap-icon-header flex-w justify-content-center flex-m">
                    <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search ml-auto">
                        <i class="text-white zmdi zmdi-search"></i>
                    </div>

    

                    <!-- Example single danger button -->
<div class="btn-group">
    <button type="button" class="btn btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="text-white fa-solid fa-user"></i> 
        <% if(Name){ %>
           <span class="text-white"><%=Name.Name%></span> 
        <% } else{ %>  
           <span class="text-white"> My account</span>
        <% } %>
    </button>
    <ul class="dropdown-menu ml-3 mt-4">
        <% if(Name){ %>
    <li class="text-center"><a style="color: rgb(31, 103, 40);" class="btn btn-white" href="/profile"><i class="fa-solid fa-user"></i><span class="px-2">Profile</span></a></li>
    <li><hr class="dropdown-divider"></li>
    <form action="/sign-out" method="post">
    <li class="text-center"><button class="btn btn-danger" type="submit">Sign-out</button></li>
    </form>
    <% } else{ %>
        <li class="text-center"><a class="btn btn text-white" style="background-color:#d74850 ;" href="/sign-in">Sign-in</a></li>
        <li><hr class="dropdown-divider"></li>
        <li class="text-center"><a style="color: rgb(31, 103, 40);" class="btn btn-white" href="/sign-up">New User ?</a></li>
        <% } %>
    </ul>
</div>
<div class="flex-c-m h-full p-l-18 p-r-25 bor5">
    <% if (cartCount) { %>
    <div class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 icon-header-noti" data-notify="<%=cartCount%>">
        <%} else { %>
    <div class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11" data-notify="">

        <% } %>
        <a href="/cart"><i class="text-white zmdi zmdi-shopping-cart text-dark"></i></a>
    </div>

</div>     
   
<% if (wishCount) { %>
   <div class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 icon-header-noti" data-notify="<%=wishCount%>">
        <%} else { %>
    <div class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11" data-notify="">

        <% } %>
        <a class="text-decoration-none" href="/wish-list"><i class="text-white zmdi zmdi-favorite-outline text-dark"></i></a>
    </div>

</div>


</div>
</nav>
</div>	
</div>

      <!-- Modal Search -->
		<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
			<div class="container-search-header">
				<button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
					<img src="/user/images/icons/icon-close2.png" alt="CLOSE">
				</button>

				<form class="wrap-search-header flex-w p-l-15">
					<button class="flex-c-m trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>
					<input class="plh3" type="text" name="search" placeholder="Search...">
				</form>
			</div>
		</div>
	</header> 

    

  <!-- Cart -->
<div class="wrap-header-cart js-panel-cart">
  <div class="s-full js-hide-cart"></div>

  <div class="header-cart flex-col-l p-l-65 p-r-25">
      <div class="header-cart-title flex-w flex-sb-m p-b-8">
          <span class="mtext-103 cl2">
              Your Cart
          </span>

          <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
              <i class="zmdi zmdi-close"></i>
          </div>
      </div>
      
      <div class="header-cart-content flex-w js-pscroll">
          <ul class="header-cart-wrapitem w-full">
              <li class="header-cart-item flex-w flex-t m-b-12">
                  <div class="header-cart-item-img">
                      <img src="/user/images/item-cart-01.jpg" alt="IMG">
                  </div>

                  <div class="header-cart-item-txt p-t-8">
                      <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                          White Shirt Pleat
                      </a>

                      <span class="header-cart-item-info">
                          1 x $19.00
                      </span>
                  </div>
              </li>

              <li class="header-cart-item flex-w flex-t m-b-12">
                  <div class="header-cart-item-img">
                      <img src="/user/images/item-cart-02.jpg" alt="IMG">
                  </div>

                  <div class="header-cart-item-txt p-t-8">
                      <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                          Converse All Star
                      </a>

                      <span class="header-cart-item-info">
                          1 x $39.00
                      </span>
                  </div>
              </li>

              <li class="header-cart-item flex-w flex-t m-b-12">
                  <div class="header-cart-item-img">
                      <img src="/user/images/item-cart-03.jpg" alt="IMG">
                  </div>

                  <div class="header-cart-item-txt p-t-8">
                      <a href="#" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                          Nixon Porter Leather
                      </a>

                      <span class="header-cart-item-info">
                          1 x $17.00
                      </span>
                  </div>
              </li>
          </ul>
          
          <div class="w-full text-align-center">
              <div class="header-cart-total w-full p-tb-40 ">
                  Total: $75.00
              </div>

              <div class="header-cart-buttons flex-w w-full justify-content-center">
                  <a href="/shopping-cart" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
                      View Cart
                  </a>

                  
              </div>
          </div>
      </div>
  </div>
</div>

     
  </header>

 
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <!-- JavaScript Bundle with Popper -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script> 

    
</body>
</html>
 

